@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: gray;
}

ul li {
    background-color: rgb(75, 75, 75);
    color: white;
    display: inline-block;
    padding: 10px;
}

main > article {
    width: 600px;
    margin: auto;
}